body {
  font-family:cursive;
  color:white;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}

button{
    padding: 12px 20px;
    font-size: 16px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightgreen;
    font-family:cursive;
}

button:hover{
    background-color:rgb(131, 254, 24);
}
#output{
    margin-top: 30px;
    font-size: 20px;
}