body {
  background: linear-gradient(to left, #f4b66a, #5f79ed);
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.search {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #cdd3ec;
  font-family: cursive;
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #f4b66a;
  font-family: cursive;
  
}

.card {
  background: rgb(237, 204, 175);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  display: none;
}
